* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: black;
    height: 730px;
}

.up {
    display: flex;
    justify-content: flex-end;
}

.speak {
    color: white;
    margin: 5px;
    padding: 5px;
    background-color: rgb(41, 40, 40);
    border-radius: 5px;
}

.contenitore {
    height: 650px;
    display: flex;
    /*padding-top: 25px;
    padding-bottom: 25px;*/
}


/*SINISTRA*/
.sx {
    /*background-color: deepskyblue;*/
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/*CENTRO*/

.centro {
    /*background-color: lightseagreen;*/
    width: 84%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    /*background-color: springgreen;*/
    width: calc(100% / 5);
    height: calc(100% / 5);
    border: 5px solid black;

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.uno {
    background-image: url("../img/jackselfie.jpeg");
}

.due {
    background-image: url("../img/dogselfie.jpeg");
}

.tre {
    background-image: url("../img/huskyselfie.jpeg");
}

.quattro {
    background-image: url("../img/germanselfie.jpeg");
}

.cinque {
    background-image: url("../img/selfie1.jpeg");
}

.utente {

    background-color: lightgrey;
}


/*DESTRA*/
.dx {
    /*background-color: mediumaquamarine;*/
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



/*FOOTER*/
footer {
    height: 70px;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: space-between;
}

.fsx {
    /*background-color: lime;*/
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.icona {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ic {
    font-size: 30px;
}

.chevron {
    color: white;
}



.fcntr {
    /*background-color: steelblue;*/
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.fdx {
    background-color: rgb(94, 94, 94);
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}



/*SIMBOLI*/

.fa-caret-left,
.fa-caret-right {
    font-size: 60px;
}



/*DEBUG*/
.debug main {}